In [1]:
spark

In [4]:
df = spark.read.csv('tips.csv', header=True)
df

DataFrame[total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [5]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|   5|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
# Counts of tip payers by gender
# Male : 120
# Female: 180
df.groupby(

In [ ]:
# add another column 'total' which is the sum of total_bill and tip
df.withColumn(

In [6]:
import pyspark.sql.functions as F

In [8]:
# add another column combined = [20.65, 3.35]
df.withColumn('combined', F.array('total_bill', 'tip')).show()

+----------+----+------+------+---+------+----+-------------+
|total_bill| tip|   sex|smoker|day|  time|size|     combined|
+----------+----+------+------+---+------+----+-------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|[16.99, 1.01]|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|[10.34, 1.66]|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3| [21.01, 3.5]|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|[23.68, 3.31]|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|[24.59, 3.61]|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|[25.29, 4.71]|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|    [8.77, 2]|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|[26.88, 3.12]|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|[15.04, 1.96]|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|[14.78, 3.23]|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|[10.27, 1.71]|
|     35.26|   5|Female|    No|Sun|Dinner|   4|   [35.26, 5]|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|[15.42, 1.57]|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|   [18.43, 3]|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|[14.83, 3.02]|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|[21.58, 3.92]|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|[10.33, 1.67]|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|[16.29, 3.71]|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3| [16.97, 3.5]|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|[20.65, 3.35]|
+----------+----+------+------+---+------+----+-------------+
only showing top 20 rows

In [29]:
# add another column combined = [20.65, 3.35]
arrdf = df.withColumn('combined', F.array('total_bill', 'tip'))

In [13]:
df.groupby('sex').count().show()

+------+-----+
|   sex|count|
+------+-----+
|Female|   87|
|  Male|  157|
+------+-----+

In [19]:
df.select(F.collect_list('sex'))

DataFrame[collect_list(sex): array<string>]

In [17]:
df.select(F.collect_list('sex')).show()

+--------------------+
|   collect_list(sex)|
+--------------------+
|[Female, Male, Ma...|
+--------------------+

In [18]:
df.select(F.collect_list('sex')).first()[0]

['Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female']

In [26]:
df.select(F.collect_set('sex')).show()

+----------------+
|collect_set(sex)|
+----------------+
|  [Female, Male]|
+----------------+

In [23]:
nums = [1,2,3,3,2,1,2,3]
len(nums)

8

In [25]:
nums_set = set(nums)
len(nums_set)

3

In [27]:
df.withColumn('sexsmoker', F.create_map('sex', 'smoker')).show()

+----------+----+------+------+---+------+----+--------------+
|total_bill| tip|   sex|smoker|day|  time|size|     sexsmoker|
+----------+----+------+------+---+------+----+--------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|{Female -> No}|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|  {Male -> No}|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|  {Male -> No}|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|{Female -> No}|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|  {Male -> No}|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|  {Male -> No}|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     35.26|   5|Female|    No|Sun|Dinner|   4|{Female -> No}|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|  {Male -> No}|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|{Female -> No}|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|  {Male -> No}|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|{Female -> No}|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|  {Male -> No}|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|{Female -> No}|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|  {Male -> No}|
+----------+----+------+------+---+------+----+--------------+
only showing top 20 rows

In [28]:
mapdf = df.withColumn('sexsmoker', F.create_map('sex', 'smoker'))

In [34]:
arrdf.select('combined').show()

+-------------+
|     combined|
+-------------+
|[16.99, 1.01]|
|[10.34, 1.66]|
| [21.01, 3.5]|
|[23.68, 3.31]|
|[24.59, 3.61]|
|[25.29, 4.71]|
|    [8.77, 2]|
|[26.88, 3.12]|
|[15.04, 1.96]|
|[14.78, 3.23]|
|[10.27, 1.71]|
|   [35.26, 5]|
|[15.42, 1.57]|
|   [18.43, 3]|
|[14.83, 3.02]|
|[21.58, 3.92]|
|[10.33, 1.67]|
|[16.29, 3.71]|
| [16.97, 3.5]|
|[20.65, 3.35]|
+-------------+
only showing top 20 rows

In [32]:
arrdf.select(F.explode('combined')).show()

+-----+
|  col|
+-----+
|16.99|
| 1.01|
|10.34|
| 1.66|
|21.01|
|  3.5|
|23.68|
| 3.31|
|24.59|
| 3.61|
|25.29|
| 4.71|
| 8.77|
|    2|
|26.88|
| 3.12|
|15.04|
| 1.96|
|14.78|
| 3.23|
+-----+
only showing top 20 rows

In [36]:
mapdf.select(F.explode('sexsmoker')).show()

+------+-----+
|   key|value|
+------+-----+
|Female|   No|
|  Male|   No|
|  Male|   No|
|  Male|   No|
|Female|   No|
|  Male|   No|
|  Male|   No|
|  Male|   No|
|  Male|   No|
|  Male|   No|
|  Male|   No|
|Female|   No|
|  Male|   No|
|  Male|   No|
|Female|   No|
|  Male|   No|
|Female|   No|
|  Male|   No|
|Female|   No|
|  Male|   No|
+------+-----+
only showing top 20 rows

In [37]:
df

DataFrame[total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [38]:
from pyspark.sql import SparkSession, HiveContext

In [39]:
spark = SparkSession.builder.appName('test').enableHiveSupport().getOrCreate()

In [40]:
spark

In [41]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|   5|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [42]:
df.createOrReplaceTempView('tips')

In [44]:
spark.sql('select count(*) from tips').show()

+--------+
|count(1)|
+--------+
|     244|
+--------+

In [47]:
spark.sql('select * from tips where tip > (select percentile(tip, 0.9) from tips)').show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     39.42|7.58|  Male|    No| Sat|Dinner|   4|
|      30.4| 5.6|  Male|    No| Sun|Dinner|   4|
|      32.4|   6|  Male|    No| Sun|Dinner|   4|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|
|     48.27|6.73|  Male|    No| Sat|Dinner|   4|
|     34.83|5.17|Female|    No|Thur| Lunch|   4|
|     24.71|5.85|  Male|    No|Thur| Lunch|   2|
|     29.93|5.07|  Male|    No| Sun|Dinner|   4|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|
|     29.85|5.14|Female|    No| Sun|Dinner|   5|
|     50.81|  10|  Male|   Yes| Sat|Dinner|   3|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|
|     23.33|5.65|  Male|   Yes| Sun|Dinner|   2|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4|
|     48.33|   9|  Male|    No| Sat|Dinner|   4|
|     28.17| 6.5|Female|   Yes| Sat|Dinner|   3|
|     29.03|5.92|  Male|    No| Sat|Dinner|   3|
+----------+----+------+------+----+------+----+

In [49]:
spark.sql('select *, RANK() over (partition by sex order by tip desc) as rank from tips').show()

+----------+----+------+------+----+------+----+----+
|total_bill| tip|   sex|smoker| day|  time|size|rank|
+----------+----+------+------+----+------+----+----+
|     28.17| 6.5|Female|   Yes| Sat|Dinner|   3|   1|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|   2|
|     34.83|5.17|Female|    No|Thur| Lunch|   4|   3|
|     29.85|5.14|Female|    No| Sun|Dinner|   5|   4|
|     35.26|   5|Female|    No| Sun|Dinner|   4|   5|
|     25.28|   5|Female|   Yes| Sat|Dinner|   2|   5|
|     27.05|   5|Female|    No|Thur| Lunch|   6|   5|
|     43.11|   5|Female|   Yes|Thur| Lunch|   4|   5|
|     35.83|4.67|Female|    No| Sat|Dinner|   3|   9|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|  10|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|  11|
|     19.81|4.19|Female|   Yes|Thur| Lunch|   2|  12|
|     20.92|4.08|Female|    No| Sat|Dinner|   2|  13|
|     14.31|   4|Female|   Yes| Sat|Dinner|   2|  14|
|     25.71|   4|Female|    No| Sun|Dinner|   3|  14|
|       9.6|   4|Female|   Yes| Sun|Dinner|   2|  14|
|        25|3.75|Female|    No| Sun|Dinner|   4|  17|
|     24.59|3.61|Female|    No| Sun|Dinner|   4|  18|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|  19|
|     17.31| 3.5|Female|    No| Sun|Dinner|   2|  19|
+----------+----+------+------+----+------+----+----+
only showing top 20 rows

25/05/18 04:39:20 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 237969 ms exceeds timeout 120000 ms
25/05/18 04:39:20 WARN SparkContext: Killing executors is not supported by current scheduler.